include README.md
include CHANGELOG.md
include requirements.txt
include LICENSE
recursive-include ytmusic_manager *.py
recursive-include tests *.py
recursive-include docs *.md
exclude docs/REFACTOR.md docs/REVIEW.md docs/TODO.md
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.log